<template name="previewTable">
  <div class="tablePagePreview">
    <div class="left-top-score-preview">
      {{countUsersOnTable _id}} / 5 <i class="fa fa-user" aria-hidden="true"></i>
      <!--
      {{#each users}}
        <div class="avatar-player-2-preview">
            <img class="player" src="/img/glasses.png" /><br/>
            <p class="username">{{username}}</p>
            {{> scorebar}}
        </div>
        <div class="card-location-preview">
          {{#each handsPlayed _id}}
              {{>card}}
          {{/each}}
        </div>
        <br/>
        <br/>
      {{/each}}
    -->
    </div>
    <div class="tableStyle1-preview">
      <div class="outer-circle-preview">
        <!-- avatars & buttons -->
        <div class="avatar-IA-preview">
          <img class="croupier-preview" src="/img/woman.png" />
        </div>
        <!-- inner circle & Title table -->
        <div class="inner-circle-preview">
          <div>
            <br/>
            [ {{name}} ]
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
