<template name="tablePage">
  <div class="tablePage">
    <div class="tableStyle1">
    	<div class="outer-circle">
        <!-- avatars & buttons -->
        <div class="avatar-IA">
          <img class="croupier" src="/img/croupier.png" />
        </div>
        <div class="avatar-player">
          <img class="player" src="/img/profileActif.png" />
        </div>
        <div class="player-card-location">
            
        </div>
        <div class="actions">
          <button class="deal">deal</button>
        </div>
        <!-- inner circle & Title table -->
  		  <div class="inner-circle">
  		  	<div>[ BlackJack ]</div>
  		  </div>
		  </div>
    </div>
  </div>
</template>
