<template name="tablePage">
  <div class="tablePage">
    <div class="left-top-score">
      <p>
        users in game: <br/>
        {{#each users}}
          {{username}}<br/>
        {{/each}}
      </p>
    </div>
    <div class="tableStyle1">
    	<div class="outer-circle">
        <!-- avatars & buttons -->
        <div class="avatar-IA">
          <img class="croupier" src="/img/croupier.png" />
        </div>
        <div class="avatar-player">
          <img class="player" src="/img/profileActif.png" />
        </div>
        <div class="player-card-location">
          {{#each handsPlayed}}
            <div class="card">
              {{sign}}
            </div>
          {{/each}}
        </div>
        <div class="actions">
          <button class="deal">deal</button>
        </div>
        <!-- inner circle & Title table -->
  		  <div class="inner-circle">
  		  	<div>[ {{name}} ]</div>
  		  </div>
		  </div>
    </div>
  </div>
</template>
