<template name="tablePage">
  <div class="tablePage">
    <div class="tableStyle1">
      <!--
    	<img class="user1" src="/img/profile.png" />
    	<img class="user2" src="/img/profileActif.png" />
    	<img class="user3" src="/img/profile.png" />
      -->
    	<div class="outer-circle">
		  <div class="inner-circle">
        <div class="avatar-IA">
          <img class="croupier" src="/img/croupier.png" />
        </div>
		  	<div>[ BlackJack ]</div>
		  	<button class="getCard">= get card =</button>
		  </div>
		</div>
    </div>
  </div>
</template>
